main{
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ffffff;
    background-image: linear-gradient(180deg, #ffffff 33%, #188291 87%);
    
    

}

.contenedor:hover
{
transition-duration: 1500ms;
-webkit-transform: scale(1.08);
-ms-transform: scale(1.08);
transform: scale(1.05);
text-decoration: none;
}
.contenedor {
    overflow: hidden;
    background-position: center;
    background-size: cover;
    min-width: calc(100vw/4);
    border-radius: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#turnos{
    background-image: url(../assets/main_calendario.jpg);
}
#odontologos{
    background-image: url(../assets/main_odontologo.jpg)
}
#pacientes{
    background-image: url(../assets/main_paciente.jpg)
}

.contenedor::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1; /* Hacer que la capa sea permanentemente visible */
    z-index: 1;
}

.contenedor h2{
    color: white;
    text-decoration: none;
    font-size: 30px;
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


